#left{
	/*background-color: ;*/
	width:60%;
	height: 100%;
	float: left;
}
#right{
	/*background-color: blue;*/
	width:40%;
	float:right;
}

h6{
	background-image: url("https://googledrive.com/host/0B04MUDykjgxRNTRKU1kxdHpyck0/img/logo.png");
	background-repeat:no-repeat;
}

@font-face {
    font-family: Hand Serif Web;
    src: url(https://googledrive.com/host/0B04MUDykjgxRNTRKU1kxdHpyck0/handwriting-draft_free-version.ttf) format("truetype");
}

@font-face {
    font-family: Alice Serif Web;
    src: url(https://googledrive.com/host/0B04MUDykjgxRNTRKU1kxdHpyck0/Alice_in_Wonderland_3.ttf) format("truetype");
}

@font-face {
    font-family: Mons Serif Web;
    src: url(electricsphere.ttf) format("truetype");
}
.boy-but{
	background-image: url("https://googledrive.com/host/0B04MUDykjgxRNTRKU1kxdHpyck0/img/gender/boy_opacity.png");background-repeat: no-repeat;width:33%;height:113px;float:left;
}
.boy-but:hover {
	background-image: url("https://googledrive.com/host/0B04MUDykjgxRNTRKU1kxdHpyck0/img/gender/boy_up.png");background-repeat: no-repeat;width:33%px;height:113px;
	cursor: cell;
}
.girl-but{
	background-image: url("https://googledrive.com/host/0B04MUDykjgxRNTRKU1kxdHpyck0/img/gender/girl_opacity.png");background-repeat: no-repeat;width:33%;height:113px;float:left;
}
.girl-but:hover {
	background-image: url("https://googledrive.com/host/0B04MUDykjgxRNTRKU1kxdHpyck0/img/gender/girl_up.png");background-repeat: no-repeat;width:33%;height:113px;
	cursor: cell;
}
.all-but{
	background-image: url("https://googledrive.com/host/0B04MUDykjgxRNTRKU1kxdHpyck0/img/gender/all_opacity.png");background-repeat: no-repeat;width:34%;height:113px;float:left;
}
.all-but:hover {
	background-image: url("https://googledrive.com/host/0B04MUDykjgxRNTRKU1kxdHpyck0/img/gender/all_up.png");background-repeat: no-repeat;width:34%;height:113px;
	cursor: cell;
}
.all-but-press{
	background-image: url("https://googledrive.com/host/0B04MUDykjgxRNTRKU1kxdHpyck0/img/gender/all_black.png");background-repeat: no-repeat;width:34%;height:113px;float:left;
	cursor: cell;
}
.boy-but-press{
	background-image: url("https://googledrive.com/host/0B04MUDykjgxRNTRKU1kxdHpyck0/img/gender/boy_black.png");background-repeat: no-repeat;width:33%;height:113px;
	float:left;
	cursor: cell;
}
.girl-but-press{
	background-image: url("https://googledrive.com/host/0B04MUDykjgxRNTRKU1kxdHpyck0/img/gender/girl_black.png");background-repeat: no-repeat;width:33%;height:113px;
	float:left;
	cursor: cell;
}
.gender{
	text-align: center;
}

.monsfont{
	font-family: "Mons Serif Web";
	font-size: 8;
	text-align: center;
	color : F5FFFA;
	font-style: bold;
}

.size{
	width: 100%;
	text-align: left;
	vertical-align: center;
}

.MN{
	font-family: "Alice Serif Web";
	font-size: 40;
	color: white;
	text-align: left;
}

.moviename{
	color: white;
	font-weight: bold;
	font-size: 50;
	text-align: center;
	font-family: "Hand Serif Web";
}

.myjson{
	display:block; 
	overflow:hidden; 
	width:0; 
	height:0; 
}

.title{
	text-align: left;
	font-size: 60;
	color: white;
	font-family: "Hand Serif Web";
}


.node {
	cursor: cell;
}

.node text {
  pointer-events: none;
  font: 10px sans-serif;
}
/*what is this???*/

.cen{
	text-align: center;
}

.ll{
	text-align: right;
	font-size: 16;
}
/*�撠�*/

.backblack{
	background-color: black;
}
/*�霈�嚗��仿��箔�暻潔��賜�交�軸ody*/

